}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #333;
  color: white;
  padding: 1em;
}

nav a {
  color: white;
  margin-right: 1em;
  text-decoration: none;
}

main {
  padding: 2em;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}
