
div.ex2 {
    max-width:900px;
    margin: auto;
    border: none;
    font-family: Arial;
    color: white;
    
}

body {
    background-color: black;
  
}

div.ex1{
 	font-family: Arial;
    color: white;
	margin-right: 600px;
	float: right;
    max-width:600px;
    border: 1px solid red;
}

div.ex3{
	max-width:300px;
	margin-left: 400px;
	margin-top: 25px;
    border: 1px solid red;
	color: white;

}

div.ex4{
	border: 1px solid red;
	margin-left: 800px;
	max-width:300px;
}

div.ex5{
	font-family: Arial;
    color: white;
	margin-right: 360px;
	float: right;
    max-width:600px;
    border: 1px solid red;

}
